*{
    margin:0;
    padding: 0;;
}
.tool-img{
    height:4rem;
    width:4rem;
    margin-right:1rem;
}
.toolBar{
    display: flex;
    justify-content: center;
    background-color: rgb(234, 240, 234);
}

.tool-options{
    display: none;
    height:8rem;
    width:12rem;
    /* padding-top: 1rem; */
    margin-top: 6px;;
    background-color: rgb(235, 235, 243);
    border-radius: 2rem;
}
.eraser{
    height:5rem;
    padding-top: 1rem; 
    background-color: rgb(43, 6, 253);
    /* display: inline-flex; */
    text-align: center;
    justify-content: center;
    align-items: center;
}
.tool-options:hover{
    cursor: pointer;
}
.clear-all{
    background-color: rgb(214, 213, 213);
    margin-top: 1.2rem;
    height: 30%;
    padding-bottom: 11.5px; 
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clear-all:hover{
    background-color: rgb(136, 138, 138);
}
.rangeMover:hover{
    cursor: col-resize;
}

.pencil-size{
    border-radius: 2rem;
    height: 50%;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pencil-color{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
input{
    width:90%;
}

.colors{
    width: 20%;
    height: 60%;
    margin-right:.25rem;
    border-radius: 50%;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}
.tool{
    position: relative;
}
.tool-options{
    position: absolute;
    top:3.75rem;
    right: -2.75rem;

}

.show{
    display: block;
}






.stickyPad{
    /* create seperate page */
    position: absolute;
    left: 17rem;
    top: 14rem;
    height: 17rem;
    width: 15rem;
    /* background-color: greenyellow; */
   
}

.navBar{
    height: 20%;
    width:100%;
    background-color: rgb(248, 252, 6);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.minimize,.close{
    height:2rem;
    width:2rem;
    border-radius: 50%;
    margin-right:0.7rem;
}
.minimize{

    background-color: rgb(142, 230, 27);
}
.close{
    background-color:firebrick;
    /* background-image: url("./NewIcons/"); */
}


.writingPad{
    height: 80%;
    width:100%;
    background-color: rgb(247, 247, 139);
}
.textArea{
    width:99%;
    height:99%;
    font-family: sans-serif;
    background-color: inherit;
}